* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 70px;
    margin: 15px;
}

.textarea {
    width: 100%;
    height: 450px;
    border: 4px solid rgb(132, 168, 132);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 40px;
}

.keyboard {
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    // height: 550px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #888888;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #444444;
    border-radius: 5px;
    transition: 0.3s;
}

.key:hover {
    cursor: pointer;
    background-color: rgb(132, 168, 132) !important;
}

.key-active {
    border-radius: 50px;
    background-color: rgb(111, 204, 111) !important;
}

.dark-bg { background-color: #222222; }

.backspace-key { width: 202px; }

.tab-key { width: 95px; }

.del-key { width: 97px; }

.caps-key { width: 190px; }

.enter-key { width: 182px; }

.left-shift-key { width: 190px; }

.right-shift-key { width: 182px; }

.left-ctrl-key { width: 92px; }

.space-key { width: 628px; }

.right-ctrl-key { width: 92px; }

span {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 32px;
}