* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 725px;
    margin: 0 auto;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    margin: 10px;
}

.textarea {
    width: 100%;
    height: 220px;
    border: 2px solid rgb(132, 168, 132);
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
}

.keyboard {
    display: flex;
    column-gap: 5px;
    row-gap: 7px;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    // height: 550px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #888888;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background-color: #444444;
    border-radius: 3px;
    transition: 0.1s;
    user-select: none;
}

.key:hover {
    cursor: pointer;
    background-color: rgb(132, 168, 132);
}

.key-active {
    border-radius: 50px;
    background-color: rgb(111, 204, 111) !important;
}

.caps-active {
    border-radius: 50px;
    background-color: rgb(111, 204, 111) !important;
}

.shift-active {
    border-radius: 50px;
    background-color: rgb(111, 204, 111) !important;
}

.dark-bg { background-color: #222222; }

.backspace-key { width: 111px; }

.tab-key { width: 52px; }

.del-key { width: 54px; }

.caps-key { width: 102px; }

.enter-key { width: 96px; }

.left-shift-key { width: 102px; }

.right-shift-key { width: 96px; }

.left-ctrl-key { width: 47px; }

.space-key { width: 326px; }

.right-ctrl-key { width: 50px; }

span {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}